<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img th:src="@{/images/Logo_Ludopia.png}" class="logo" alt="Logo Ludopia">
        </a>
        <a th:href="@{/association/map}">
        <button class="btn btn-secondary" type="button">Associations</button>
        </a>
        <form class="form-inline">
            <input class="form-control" type="search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Rechercher</button>
        </form>

        <span th:text="${{user.name}}"></span>
        <a th:href="@{/login}">
            <button class="btn btn-light" type="button">Se connecter</button>
        </a>

        <a th:href="@{/registration}">
            <button class="btn btn-primary btn-custom" type="button">S'inscrire</button>
        </a>

    </div>
</nav>