<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/headerMap}"></head>

<body>
<div th:replace="~{layout/navbar}"></div>

<div class="container">
    <div class="mt-4 mb-4 pt-4 pb-4 overflow-auto one-game-info rounded-lg">

        <div class="float-left game-image mr-5 ml-5 p-3">
            <img class="img-fluid" th:src="${{asso.imageLink}}" th:alt="${{asso.name}}"/>
        </div>
        <h1 th:text="${{asso.name}}"></h1>
        <div th:text="${{asso.description}}"></div>
        <div id="map"></div>
    </div>
    <div id="gameInAsso">
    </div>
</div>
<div th:replace="~{layout/footer}"></div>
</body>
<script th:inline="javascript">
    var marker;
    var mymap;
    function initMap() {
        var latLng = L.latLng([[${{asso.latitude}}]], [[${{asso.longitude}}]]);
        mymap = L.map('map').setView(latLng, 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(mymap);
        marker = new L.marker(latLng).addTo(mymap);
    }

    window.addEventListener("load",initMap);
</script>
</html>