<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/headerMap}"></head>

<body>
<div th:replace="~{layout/navbar}"></div>
<div class="container">
    <h1>Ajouter un jeu</h1>

    <form method="POST" name="game" action="/association/create">
        <label>Nom</label>
        <input type="text" name ="name" autofocus="true" placeholder="Nom" required/>
        <label>Avatar</label>
        <input type="text" name = "imageLink" placeholder="ImageLink" required/>
        <br>
        <label>description</label>
        <input type="text" name="description" placeholder="Description" required/>

        <br>
        <label>Location</label>
        <input id="longitude" type="hidden" name="longitude" required/>
        <input id="latitude" type="hidden" name="latitude" required/>
        <div id="map"></div>
        <br>
        <button type="submit">Valider</button>

    </form>
</div>
<div th:replace="~{layout/footer}"></div>
</body>
<script src="/js/associationCreationScript.js"></script>

</html>