{{> layout/headerMap}}

<body>

{{> layout/navbar}}
{{#asso}}
<div class="container">
    <div class="mt-4 mb-4 pt-4 pb-4 overflow-auto one-game-info rounded-lg">

        <div class="float-left game-image mr-5 ml-5 p-3">
            <img class="img-fluid" src="{{imageLink}}" alt="{{name}}"/>
        </div>
        <h2>{{name}}</h2>
        <div>{{description}}</div>
        <div id="map"></div>
    </div>
</div>
</body>
<script>
    var marker;
    var mymap;
    function initMap() {
        var latLng = L.latLng("{{latitude}}", "{{longitude}}");
        mymap = L.map('map').setView(latLng, 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(mymap);
        marker = new L.marker(latLng).addTo(mymap);
    }

    window.addEventListener("load",initMap);
</script>
{{/asso}}
</html>