<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/headerMap}"></head>

<body>
<div th:replace="~{layout/navbar}"></div>
<div class="container">
    <div th:if="${gameId == null}">Carte des associations</div>
    <div th:if="${gameName != '' && gameId != null}" th:text="'Carte des associations possédant le jeu '+${gameName}"></div>
    <div th:if="${gameName == ''}">Ce jeu n'existe pas</div>
    <div class="assoContenu">
        <div id="map"></div>
        <div id="sidebarAsso">
        <div id="list">
        </div>
    </div>
        <div id="buttonAsso">
            <a th:href="@{/association/create}">
                <button class="btn btn-primary btn-custom">Ajouter mon association</button>
            </a>
        </div>

    </div>
</div>
<div th:replace="~{layout/footer}"></div>
</body>
<script th:inline="javascript">
    function initAsso(){
        let id = [[${gameId}]];
        getAssos(id);
    }
</script>
<script src="/js/associationMapScript.js"></script>
</html>