{{> layout/headerMap}}

<body>

{{> layout/navbar}}
<div class="container">
    <h1>Ajouter un jeu</h1>

    <form method="POST" name="game" action="/addGame">
        <label>Nom</label>
        <input type="text" name ="name" autofocus="true" placeholder="Nom" required/>

        <br>
        <label>description</label>
        <input type="text" name="description" placeholder="Description" required/>

        <br>
        <label>Location</label>
        <div id="map" style="height:150px"></div>
        <br>
        <button type="submit">Valider</button>

    </form>
</div>
</body>
<script>
    var marker;
    var mymap;
    function initMap() {
        mymap = L.map('map').setView([51.505, -0.09], 13);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(mymap);
        mymap.addEventListener("click", addMarker);
    }
    function addMarker(e) {
        // Add marker to map at click location; add popup window
        if (marker !== undefined) {
            mymap.removeLayer(marker);
        }
        marker = new L.marker(e.latlng).addTo(mymap);
    }

    window.addEventListener("load",initMap);
</script>
</html>