<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header}"></head>

<body>
<div th:replace="~{layout/navbar}"></div>
<div class="container">
    <h1 class="h1Form">Ajouter un jeu</h1>

    <form id="formGame" method="POST" name="game" action="/game/create" class="formAsso">
        <div class="form-group">
            <label for="formNameGame">Nom du jeu</label>
            <input id="formNameGame" type="text" name ="name" class="form-control" autofocus="true" placeholder="Nom du jeu" required/>
        </div>
        <div class="form-group">
            <label for="formDescGame">Description du jeu</label>
            <textarea id="formDescGame" name="description" class="form-control" placeholder="Description du jeu" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label for="formImgGame">Image du jeu</label>
            <input id="formImgGame" type="text" name="imageLink" class="form-control" placeholder="Lien vers l'image du jeu" required/>
        </div>
        <div class="form-submit">
            <button type="submit" class="btn btn-primary btn-custom">Valider</button>
        </div>
    </form>

</div>
<div th:replace="~{layout/footer}"></div>
</body>
</html>