<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout/header}"></head>

<body>
<div th:replace="~{layout/navbar}"></div>

<div class="container">
    <div id="jeu" th:if="${oneGame} != null">
        <div class="mt-4 mb-4 pt-4 pb-4 overflow-auto one-game-info rounded-lg">

            <div class="float-left game-image mr-5 ml-5 p-3">
                <img class="img-fluid" th:src="${{oneGame.imageLink}}" th:alt="${{oneGame.name}}"/>
            </div>
            <h2 th:text="${{oneGame.name}}"></h2>

            <div class="game-stars">

                    <span th:each="star : ${stars}">
                        <i class="fas fa-star"></i>
                    </span>

                    <span th:each="star : ${starsEmpty}">
                        <i class="far fa-star"></i>
                    </span>
            </div>

            <p class="game-description" th:text="${{oneGame.description}}"></p>
            <div th:if="${{isGameInUserList}}" sec:authorize="!isAnonymous()" class="otherInfos float-left">
                <a class="btn btn-custom" th:text="'Retirer ce jeu de mes jeux'" th:href="@{/list/removeFromUser/}+${{oneGame.id}}"></a>
            </div>
            <div th:if="not ${{isGameInUserList}}" sec:authorize="!isAnonymous()" class="otherInfos float-left">
                <a class="btn btn-custom" th:text="'Ajouter ce jeu à mes jeux'" th:href="@{/list/addToUser/}+${{oneGame.id}}"></a>
            </div>
            <div th:if="${not #lists.isEmpty(assosUser)}" sec:authorize="!isAnonymous()" class="otherInfos float-left">
                <form method="post" action="/list/addToAsso" class="form-inline">
                    <div class="form-group">
                        <input type="hidden" name="gameId" th:value="${{oneGame.id}}">
                        <select class="form-control" name="assoId">
                            <option selected>Ajouter à une association</option>
                            <option th:each="assoUser : ${assosUser}" th:value="${{assoUser.id}}" th:text="${{assoUser.name}}"></option>
                        </select>

                        <button type="submit" name="addGameAsso" id="submitAsso" class="btn">
                            <i class="fas fa-check-square fa-2x"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <h4 class="title-game-second rounded-lg">Les associations qui possèdent le jeu</h4>
        <div class="game-assos" th:if="${!assos.empty}">
            <div class="game-asso">
                <div class="div-img">
                    <a th:href="@{/association/}+${{assos[0].id}}">
                        <img th:src="${{assos[0].imageLink}}" style="max-width: 200px; max-height:200px"/>
                    </a>
                </div>
                <div>
                    <a class="title-game-asso" th:href="@{/association/}+${{assos[0].id}}" th:text="${{assos[0].name}}"></a>
                </div>
            </div>

            <div class="game-asso" th:if="${#lists.size(assos) > 1}">
                <div class="div-img">
                    <a th:href="@{/association/}+${{assos[1].id}}">
                        <img th:src="${{assos[1].imageLink}}" style="max-width: 200px; max-height:200px"/>
                    </a>
                </div>
                <div>
                    <a class="title-game-asso" th:href="@{/association/}+${{assos[1].id}}" th:text="${{assos[1].name}}"></a>
                </div>
            </div>

            <div class="game-asso" th:if="${#lists.size(assos) > 2}">
                <div class="div-img">
                    <a th:href="@{/association/}+${{assos[2].id}}">
                        <img th:src="${{assos[2].imageLink}}" style="max-width: 200px; max-height:200px"/>
                    </a>
                </div>
                <div>
                    <a class="title-game-asso" th:href="@{/association/}+${{assos[2].id}}" th:text="${{assos[2].name}}"></a>
                </div>
            </div>

            <a th:href="@{/association/map/}+${{oneGame.id}}" class="btn btn-primary btn-custom" type="button">
                Voir la carte
            </a>
        </div>



        <div sec:authorize="!isAnonymous()" id="newOpinion">
            <h2 class="title-home">Soumettre votre avis :</h2>

            <form id="newOpinionForm" name="newOpinionForm" method="POST" th:action="@{/opinion/create/}+${{oneGame.id}}">
                <div>
                    <div class="form-group">
                        <label>Note :    </label>
                        <label class="far fa-star change-to-pointer"><input class="note-radio" type="radio" name="noteStr" value="1"></label>
                        <label class="far fa-star change-to-pointer"><input class="note-radio" type="radio" name="noteStr" value="2"></label>
                        <label class="far fa-star change-to-pointer"><input class="note-radio" type="radio" name="noteStr" value="3"></label>
                        <label class="far fa-star change-to-pointer"><input class="note-radio" type="radio" name="noteStr" value="4"></label>
                        <label class="far fa-star change-to-pointer"><input class="note-radio" type="radio" name="noteStr" value="5"></label>
                    </div>
                    <div class="form-group">
                        <label for="form-avis">Avis</label>
                        <textarea id="form-avis" name="message" class="form-control" rows="3" required></textarea>
                    </div>
                </div>
                <button form="newOpinionForm" class="btn btn-primary btn-custom" type="submit" name="submit">Laisser un avis</button>
            </form>

        </div>


        <div id="opinionList">
        <h2 class="title-home">Avis :</h2>
        <div class="opinion" th:each="opinion : ${opinions}">
            <div>

                <a th:href="@{/user/} + ${{opinion.userId}}">
                    <img width="50px" height="50px" th:src="${opinion.avatarLink != ''} ? (${opinion.avatarLink} ? ${opinion.avatarLink} : false)  : '/images/infos/sample_etu.jpg'" alt="Avatar"/>
                    <p th:text="${{opinion.username}}"></p>
                </a>
                <br/>
                <p th:text="${{opinion.message}}"></p>
            </div>
         </div>
        <div th:unless="${oneGame} != null">
            <p>Ce jeu n'existe pas.</p>
        </div>
    </div>
    </div>
</div>
<div th:replace="~{layout/footer}"></div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

<script>
    var radio_buttons = document.getElementsByClassName("change-to-pointer");
    console.log(radio_buttons);
    for (const button of radio_buttons) {
        var pos = 0;
        button.onclick = function () {
            for (var i=0; i<radio_buttons.length; i++) {
                if (radio_buttons[i].isEqualNode(button)) {
                    pos = i;
                }
            }
            for (var i=0; i<radio_buttons.length; i++) {
                if (i<=pos) {
                    radio_buttons[i].className = "fas fa-star change-to-pointer"
                } else {
                    radio_buttons[i].className = "far fa-star change-to-pointer"
                }
            }
        }
    }
</script>

</html>