<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/header}"></head>

<body>
<div th:replace="~{layout/navbar}"></div>
<div class="container">
    <h1>Ajouter un jeu</h1>

    <form method="POST" name="game" action="/game/create">
        <label>Nom</label>
        <input type="text" name ="name" autofocus="true" placeholder="Nom" required/>

        <br>
        <label>Mot de passe</label>
        <input type="text" name="description" placeholder="Description" required/>

        <br>
        <label>Game Picture</label>
        <input type="text" name="image_link" placeholder="Lien vers l'image" required/>
        <!--<label>Vérification du mot de passe</label>
        <input type="password" placeholder="Vérification du mot de passe" required/>-->
        <br>
        <button type="submit">Valider</button>

    </form>
</div>
<div th:replace="~{layout/footer}"></div>
</body>
</html>