{{> layout/header}}
<body>
{{> layout/navbar}}


    <h1>Jeux les mieux notés</h1>
    <div id="best_rated">
        <button class="previous">Précédent</button>
        {{#gamesByRate}}
        <div class="game-card">
            <img  src="{{image_link}}" alt="Jeu"/>
            <h4>{{name}} </h4>
        </div>
        {{/gamesByRate}}
        <button class="next">Suivant</button>
    </div>

    <h1>Jeux les plus récents</h1>
    <div id="latest">
        <button class="previous">Précédent</button>
        {{#gamesByDate}}
        <div class="game-card">
            <img  src="{{image_link}}" alt="Jeu"/>
            <h4>{{name}} </h4>
        </div>
        {{/gamesByDate}}
        <button class="next">Suivant</button>
    </div>

{{> layout/footer}}
</body>
</html>