{{> layout/header}}
<body>
{{> layout/navbar}}

<div class="container">

    <div class="user">
        {{#user}}
            <img src="TODO IMAGE USER" alt="{{username}}"/>
            <h1 class="title-home">{{username}}</h1>
            <p class="content">
                {{description}}
            </p>

            <button id="friend">S'abonner</button> <!-- Si ce user est dans les abonnements de l'user connecté, modifier en "Se désabonner" -->
            <button id="report">Signaler</button>
            <div id="associations">

                <h2>Ses associations</h2>
                {{#associations}}
                    <img src="TODO" alt="{{.}}"/>
                    <p>{{.}}</p>
                {{/associations}}
                {{^associations}}
                    <p>Aucune association.</p>
                {{/associations}}
            </div>
            <div class="title-home" id="listes-jeux">
                <h2>Ses listes de jeux</h2>
                {{#lists}}
                    <img src="TODO OBJECT LISTE JEUX" alt="TODO"/>
                    <p>TODO</p>
                {{/lists}}
                {{^lists}}
                    <p>Aucune liste</p>
                {{/lists}}
            </div>
        {{/user}}

        {{^user}}
            <p>Aucun utilisateur trouvé.</p>
        {{/user}}
    </div>

</div>

{{> layout/footer}}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>