<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout/header}"></head>

<body>
<div th:replace="~{layout/navbar}"></div>

        <div class="container">
            <h1 class="h1Form">Bienvenue sur Ludopia !</h1>


            <form method="POST" name="userForm" action="/registration" class="formRegistration">
                <div class="form-group">
                    <label for="inputUsernameRegist">Nom d'utilisateur</label>
                    <input type="text" id ="inputUsernameRegist" name="username" autofocus="true" placeholder="Nom d'utilisateur" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label for="inputPasswordRegist">Mot de passe</label>
                    <input type="password" id="inputPasswordRegist" name="password" placeholder="Mot de passe" class="form-control" required/>
                </div>
                <!--<label>Vérification du mot de passe</label>
                <input type="password" placeholder="Vérification du mot de passe" required/>-->

                <div class="form-submit">
                    <button type="submit" class="btn btn-primary btn-custom">S'inscrire</button>
                    <a class="linkForm" th:href="@{/login}">Déjà un compte ?</a>
                </div>

            </form>

        </div>

        <div th:replace="~{layout/footer}"></div>
    </body>
</html>